
<div class="sidenav-logo">
  <img src="assets/img/favicon.ico" width="30px" height="30px"/>
  <span>ngular</span>
</div>

<div class="mt-3 sidenav-content">
  <mat-nav-list class="fxColumn">
    <app-sidebar-item class="sidenav-item"
                      (navigate)="emitNavigate()"
                      [iconName]="'list'"
                      [title]="'Accounts'"
                      [routeName]="'/accounts'">
    </app-sidebar-item>

    <app-sidebar-item class="sidenav-item"
                      (navigate)="emitNavigate()"
                      [iconName]="'compare_arrows'"
                      [title]="'Transfer'"
                      [routeName]="'/transfer'">
    </app-sidebar-item>

    <app-sidebar-item class="sidenav-item"
                      (navigate)="emitNavigate()"
                      [iconName]="'credit_card'"
                      [title]="'Cards & devices'"
                      [routeName]="'/cardsDevices'">
    </app-sidebar-item>

    <app-sidebar-item class="sidenav-item"
                      (navigate)="emitNavigate()"
                      [iconName]="'settings'"
                      [title]="'Settings'"
                      [routeName]="'/settings'">
    </app-sidebar-item>
  </mat-nav-list>

  <mat-accordion multi="true" [displayMode]="displayMode">
    <mat-expansion-panel class="no-shadow sidenav-expansion-panel">
      <mat-expansion-panel-header class="fxRow"
                                  [expandedHeight]="expandHeight"
                                  [collapsedHeight]="collapseHeight">
        <mat-panel-title>
          <div class="fxRow centerAlign multimenu-parent">
            <mat-icon>lock</mat-icon>
            <span>Setup</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="ml-0" dense>
        <mat-list-item>
          <a class="sidenav-link" routerLink="/user" routerLinkActive="active">
            <span>User</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a class="sidenav-link" routerLink="/role" routerLinkActive="active">
            <span>Role</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a class="sidenav-link" routerLink="/perm" routerLinkActive="active">
            <span>Permission</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>

  </mat-accordion>
</div>





