html, body {
  margin: 0;
  height: 100%;
}

/* Sidebar navigation */
.sidenav-container {
  position: absolute!important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  color: #ffffff;
  background: #2d323e;
  width: 250px;
}

mat-drawer-inner-container {
  overflow: hidden;
}

.sidenav-logo {
  height: 64px;
  min-height: 64px;
  padding-left: 24px;
  display: flex;
  place-content: flex-start;
  align-items: center;
  background: #1e2129;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
}

.sidenav-content {
  margin-top: 15px;
}

.sidenav-link {
  color: #fff;
  text-decoration: none;
  height: 40px;
  padding: 0 12px;
  border-radius: 0 20px 20px 0;
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.sidenav-item > a:hover,
mat-nav-list > mat-list-item a:hover {
  background: #34373E;
}

.sidenav-item > a.active,
mat-nav-list > mat-list-item a.active {
  background: #039be5;
}

.sidenav-item > a > span {
  margin-left: 12px;
  font-size: 14px;
}

.sidenav-expansion-panel .mat-list-item .mat-list-item-content {
  padding: 0!important;
  width: inherit;
}

.sidenav-expansion-panel .mat-nav-list .sidenav-link {
  width: inherit;
  padding-left: 50px;
}

.no-shadow {
  box-shadow: none !important;
}

.sidenav-expansion-panel {
  background: inherit;
}

.sidenav-expansion-panel .mat-expansion-panel-header{
  padding: 0 12px;
  font-size: 14px;
}

.sidenav-expansion-panel .mat-nav-list a {
  color: white;
}

.sidenav-expansion-panel .mat-expansion-panel-body {
  padding: 0 0 16px;
}

.mat-expansion-panel-header-title {
  color: white
}

.mat-expansion-panel-header > .mat-expansion-indicator:after {
  color: #ffffff;
}

.multimenu-parent > span {
  margin-left: 12px;
}


/* Toolbar navigation */
.spacer {
  flex: 1 1 auto;
}

.toolbar .show-on-small {
  display: none;
}

.toolbar .hide-on-small {
  display: block;
}

/* Content */
.content-container {
  padding: 15px 15px 15px 25px;
}

.fxRow {
  display: flex;
  flex-direction: row;
}

.fxColumn {
  display: flex;
  flex-direction: column;
}

.centerAlign {
  align-items: center;
}


.mat-button:focus, .mat-button:active {
  outline: none;
  box-shadow: none;
}


