
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav"
               [mode]="windowWidth > 758 ? 'side' : 'over'"
               [opened]="windowWidth > 758 ? true : false">

    <app-sidebar [width]="windowWidth"
                 (onNavigate)="windowWidth < 758 ? sidenav.close() : ''">
    </app-sidebar>

  </mat-sidenav>


  <mat-sidenav-content>
    <app-toolbar (onMenuClicked)="sidenav.toggle()"></app-toolbar>

    <app-content></app-content>

  </mat-sidenav-content>
</mat-sidenav-container>
