<mat-toolbar color="primary" class="toolbar header-box-shadow">

  <button mat-icon-button
          class="show-on-small"
          (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-button>
    <mat-icon class="mr-1">home</mat-icon>
    Home
  </button>

  <span class="hide-on-small">
    <button mat-button>
      <mat-icon class="mr-1">link</mat-icon>
      Link</button>
  </span>

  <span class="spacer"></span>

  <button mat-button>
    <mat-icon>account_circle</mat-icon>
    <span class="ml-2">Account</span>
  </button>

  <mat-icon class="ml-3" title="Logout">exit_to_app</mat-icon>
</mat-toolbar>
